@{
    ViewData["Title"] = "Home Page";
}

<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Your Personal Manager</h1>
      <p class="lead text-muted">Manage all orders in one place. Forget about lags and searching for information in different places</p>
    </div>
  </div>
</section>

